services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=laravel
      - MONGO_USERNAME=root
      - MONGO_PASSWORD=root
    networks:
      - laravel
    depends_on:
      - mongo

  node:
    image: node:20
    container_name: laravel_node
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    command: npm run dev
    networks:
      - laravel
    depends_on:
      - app

  web:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - node
    networks:
      - laravel

  mongo:
    image: mongo:7
    container_name: laravel_mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    volumes:
      - mongo_data:/data/db
    networks:
      - laravel

  mongo-express:
    image: mongo-express:1
    container_name: laravel_mongo_express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=root
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo
    networks:
      - laravel

  composer:
    image: composer:2
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    command: composer install

volumes:
  mongo_data:


networks:
  laravel:
